{{ $reports := readDir .Site.Params.static_reports_dir }}
<ul>
  {{ range $reports }}
  <li style="font-family: monospace">
    {{ .Name }}
    <ul>
      <li><a href="reports/{{ .Name }}/report">report</a></li>
      <li><a href="reports/{{ .Name }}/critcmp.log">critcmp.log</a></li>
      <li><a href="reports/{{ .Name }}/criterion.log">criterion.log</a></li>
    </ul>
  </li>
  {{ end }}
</ul>
